<!--<div class="com-hd">
    <h2 class="tit">最新赛况</h2>
</div>
<div class="com-bd js-tab" data-widget="switchable" data-widget-tab-element="li">
    <ul class="tab" data-role="tabs">
        <li class="current" data-role="tab">
            <a href="javascript:;">1月11日</a>
        </li>
        <li data-role="tab">
            <a href="javascript:;">1月12日</a>
        </li>
        <li data-role="tab">
            <a href="javascript:;">1月13日</a>
        </li>
    </ul>
    <div class="tab-pn" data-role="panes">
        <div data-role="pane">
            <div class="component" cms-data-type="html">
                <img src="http://ue.17173cdn.com/a/news/zt/2015/fbh/img/ss1.jpg" width="1000" height="504" alt="">
            </div>
        </div>
        <div data-role="pane">
            <div class="component" cms-data-type="html">
                <img src="http://ue.17173cdn.com/a/news/zt/2015/fbh/img/ss1.jpg" width="1000" height="504" alt="">
            </div>
        </div>
        <div data-role="pane">
            <div class="component" cms-data-type="html">
                <img src="http://ue.17173cdn.com/a/news/zt/2015/fbh/img/ss1.jpg" width="1000" height="504" alt="">
            </div>
        </div>
    </div>
</div>-->