<!--<div class="component component-video">
{{#each data}}
    <a href="{{videoUrl}}">
        <img src="{{imgPath}}" {{#if imageHeight}}height="{{imageHeight}}px"{{/if}} {{#if imageWidth}}width="{{imageWidth}}px"{{/if}}>
    </a>
{{/each}}
</div>-->

