<!--<div class="zt-imgbox bg-c mb20">
  <div class="zt-wp imgbox gb-gallery" >
    <div class="gallery-box" data-widget="gallery" data-config="gallery1">
      <div data-role="data-list"> 
        {{#each data.children}}
          <a href="http://news.17173.com/viewpic.htm?url={{imgUrl}}" target="_blank">          
            <img src="http://ue1.17173cdn.com/a/lib/pandora/gallery/1.0.0/s.gif"
             alt="{{description}}"     
            data-src="{{imgUrl}}"
            data-thumb="{{imgUrl}}!a-3-240x.jpg"
            data-height="1000" data-width="600" />
          </a>
        {{/each}}
      </div>
    </div>
    <a href="javascript:;" class="all-btn"><i class="ico ico-list"></i>查看全部</a>
    <div class="thumbnail">
      <a href="javascript:;" class="close"><span>×</span>关闭</a>
      <div class="thumbnail-con js-tab">
        <div class="thumbnail-con-tab gb-tab-pn">
        </div>
        <div class="thumbnail-nav gb-tab">
        </div>
      </div>
      <b class="mask"></b>
    </div>
  </div>
</div>-->